.navigation{
    display:none;
    background-color:rgb(255,255,255,0.9);
    text-align:center;
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    align-items:center;
    justify-content:center;
    ul{
    padding:0;
    margin:0;}
    li{
    display:block;
    list-style:none outside;
    padding:0.5em 0;
    animation: navitemin 0.3s 1 ease forwards;
    opacity:0;
    transform: translate(0,-3rem);}
    a{
    display:block;
    padding:1em 2em;
    background-color:#6297bf;
    text-decoration:none;
    font-size:1.3em;
    color:#333;
    border-radius:0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);}
    a:before{
    margin-right:0.5em;}
    @for $i from 1 through 6{
        .navigation li:nth-child(#{$i}){
            animation-delay:$i * 0.15s;
        }
}
#nav-main-toggle{
    display:none;
}

.nav-toggle{
    position:fixed;
    left:var(--spacing-size,2rem);
    top:var(--spacing-size,2rem);
    z-index:1000;
    font-size:2rem;
    padding: 0 0.5rem;
    animation: navtogglein 0.5s 1 ease-in-out forwards;

    & span{
    display:none;}
    &:before{
    margin-right:1rem;}
    &:before{
    content: '\f0c9';
    padding-left:15px;}

    &#nav-toggle-left{}
    &#nav-toggle-right{
    left:inherit;
    right:var(--spacing-size,2rem);}
}

#nav-main-toggle:checked + .site-header{
    .navigation{
    display:flex;
    z-index:1000;
    }
     .nav-toggle:before{
    content:'\f00d';
    } 
    .nav-toggle,{
    z-index:1010;
    animation: jump 0.5s 1 ease-in-out forwards;
    }
}}