.navigation{
    display:none;
    background-color:rgb(255,255,255,0.9);
    text-align:center;
    position: fixed;
    top:0; left:0; bottom:0; right:0;
    align-items:center;
    justify-content:center;
}
.navigation ul{
    padding:0;
    margin:0;
}
.navigation li{
    display:block;
    list-style:none outside;
    padding:0.5em 0;
    animation: navitemin 0.3s 1 ease forwards;
    opacity:0;
    transform: translate(0,-3rem);
}
.navigation li:nth-child(1){
    animation-delay:0.15s;
}
.navigation li:nth-child(2){
    animation-delay:0.30s;
}
.navigation li:nth-child(3){
    animation-delay:0.45s;
}
.navigation li:nth-child(4){
    animation-delay:0.60s;
}
.navigation li:nth-child(5){
    animation-delay:0.75s;
}
.navigation li:nth-child(6){
    animation-delay:0.90s;
}
.navigation a{
    display:block;
    padding:1em 2em;
    background-color:#6297bf;
    text-decoration:none;
    font-size:1.3em;
    color:#333;
    border-radius:0.5rem;
    box-shadow: 0 0 1rem 0 rgba(0,0,0,0.2);
}
.navigation a:before{
    margin-right:0.5em;
}
#nav-main-toggle{
    display:none;
}

.nav-toggle{
    position:fixed;
    left:var(--spacing-size,2rem);
    top:var(--spacing-size,2rem);
    z-index:1000;
    font-size:2rem;
    padding: 0 0.5rem;
    animation: navtogglein 0.5s 1 ease-in-out forwards;
}
#nav-toggle-right{
    left:inherit;
    right:var(--spacing-size,2rem);
}
.nav-toggle span{
    display:none;
}
.nav-toggle:before{
    margin-right:1rem;
}
.nav-toggle:before{
    content: '\f0c9';
    padding-left:15px;
}
#nav-main-toggle:checked + .site-header .navigation{
    display:flex;
    z-index:1000;
}
#nav-main-toggle:checked + .site-header .nav-toggle:before{
    content:'\f00d';
} 
#nav-main-toggle:checked + .site-header .nav-toggle,
#nav-main-toggle:checked + .site-header #nav-toggle-right{
    z-index:1010;
    animation: jump 0.5s 1 ease-in-out forwards;
}
